.about-container{
    display: flex;
    background-color:white;
    color:black;
    height:70vh;
    padding: 100px 0 100px 0;
    user-select: none;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 100px 0 100px;
    user-select: none;
}

.about-desc > h3 {
    margin-bottom: 30px;
    font-size: 28px;
    user-select: none;
}
  
.about-desc > p {
    line-height: 1.5;
    user-select: none;
}
  
.about-img {
    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
    user-select: none;
}

.img-bordes{
    border-radius:60px;
    user-select: none;
}

.btn-container{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  margin-top: 20px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

@media only screen and (max-width: 960px) {
    .about-container {
      flex-direction: column;
      padding: 0;
      height: auto;
      user-select: none;
    }
  
    .about-desc {
      width: 90%;
      margin: 0 auto;
      padding: 40px 20px 50px 20px;
      user-select: none;
    }
  
    .about-desc > h3 {
      font-size: 20px;
      text-align: center;
      user-select: none;
    }
  
    .about-img {
      width: 100%;
      margin-bottom: 50px;
      user-select: none;
    }
  
    .about-img > img {
      width: 100%;
      user-select: none;
    }
}